<div class="wrapper" cdkDropListGroup #itemsWrapper>
    <cdk-drop-list *ngFor="let list of config" class="container" (cdkDropListDropped)="moveItem($event)"
                   [cdkDropListData]="list" [cdkDropListEnterPredicate]="predicateMove"
                   cdkDropListOrientation="horizontal">
        <div *ngFor="let item of list" cdkDrag [cdkDragData]="item" [className]="'block block-'+item.columnsWidth" (mousedown)="startResizing($event, item)">
            <div cdkDragHandle>handle</div>
            <ng-container [ngComponentOutlet]="getComponent(item.component)">
            </ng-container>
        </div>
    </cdk-drop-list>
</div>
